.checkout-page {
    display: flex; 
    justify-content: center;
}

.checkout-container {
    width: 50vw; 
}

.header-container {
    display: flex;
    border-bottom: 1px black solid;
}

.header-container > span {
    flex: 0 0 10vw; 
}


.sum {
    font-size:25px;
    font-weight: 100; 
    display: flex;
    flex-direction: row-reverse;
    padding: 10px; 
}

.Empty_cartItem{
    display: flex;
    justify-content: center;
    font-size: 40px;
}